*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fivo Sans", sans-serif;
}

img{
    width: 100%;
}

body{
    background-color: #fff;
}

.wrapper{
    margin: 0 200px;
}

.main{
    background-image: url(../img/fon.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding-top: 80px;
}



.header{
    display: flex;
    width: auto;
    margin: 0 150px;
    align-items: center;
    justify-content: space-between;
    height: 50px;
}

.logo{
    font-size: 39px;
    font-family: "FivoSans", sans-serif;
    color: rgb(255, 106, 109);
    font-weight: 700;
    
}

#cont{
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
}
.menu{
    float: left;
}

.menu_ul{
    list-style: none;
}

.menu_li{
    display: inline;
    margin-left: 70px;
    font-size: 18px;
    font-family: "FivoSans", sans-serif;
    color: rgba(28, 32, 86, 0.502);
    cursor: pointer;
}

.menu_li:hover{
    
    color: rgb(255, 106, 109);
    transition: 0.3s ease;
}

.active{
    color: rgb(255, 106, 109);
}

.login{
    float: right;
}

.btn1{
    margin-left: 120px;
    border-radius: 20px;
    background-color: rgb(255, 106, 109);
    color: white;
    padding: 15px 45px;
    border: none;
    cursor: pointer;
}

.btn1:hover{
    background-color: #62d0f6;
    transition: 0.3s ease;
}



h1{
    font-size: 50px;
    font-family: "FivoSans", sans-serif;
    color: rgb(59, 56, 56);
    font-weight: 600;
    margin-top: 120px;
}

.header_text{
    display: block;
    width: 54%;
    margin-top: 50px;
    font-size: 18px;
    font-family: "FivoSans", sans-serif;
    color: rgba(0, 0, 0, 0.651);
    line-height: 34px;
    margin-bottom: 75px;
}


.btn2{
    border-radius: 20px;
    background-color: rgb(255, 106, 109);
    color: white;
    padding: 15px 45px;
    border: none;
    cursor: pointer;
}

.btn2:hover{
    background-color: #62d0f6;
    transition: 0.3s ease;

}


.btn3{
    box-sizing: border-box;
    margin-left: 30px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 106, 109);
    padding: 13px 43px;
    border: rgb(255, 106, 109) solid 2px ;
    margin-bottom: 240px;
    cursor: pointer;
}

.btn3:hover{
    color: #62d0f6;
    border: #62d0f6 solid 2px ;
    transition: 0.3s ease;

}

h2{
    text-align: center;
    font-size: 50px;
    font-family: "FivoSans", sans-serif;
    color: rgb(59, 56, 56);
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 70px;
      
}

h3{
    text-align: center;
    font-size: 18px;
    font-family: "FivoSans", sans-serif;
    color: rgba(0, 0, 0, 0.651);
    
}

.items{
    display: flex;
    margin-top: 120px;
    margin-bottom: 250px;
    justify-content: space-between;
}

.item{
  width: 220px;
}

.item img{
    width: 100%;
}

.item h3{
    font-size: 24px;
    color: #3b3838;
    font-weight: bold;
    margin-top: 55px;
}

.item p{
    font-size: 18px;
    color: #5e5e5e;
    font-weight: 300;
    text-align: center;
    margin-top: 25px;
}

.page3, .page5{
    display: flex;
    justify-content: right;
    margin-bottom: 200px;
    position: relative;
}


.page3_foto, .page5_foto{
 margin-left: 140px;
}


.page3_text, .page5_text{
 text-align: left;
 margin-right: 200px;
 max-width: 40%;
 margin-left: 45px;
}

.page3_text h2, .page4_text h2, .page5_text h2{
    text-align: left;
}

.page3_bloktext{
    position: relative;
    margin-left: 75px;
    margin-bottom: 20px;
}

.page3_bloktext h3{
    text-align: left;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
    font-weight: bold;
}

.page3_bloktext h3::before{
    content: '';
    background-image: url(../img/gal.svg);
    position: absolute;
    left: -55px;
    width: 75px;
    height: 60px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}


.page3_bloktext p, .page4_bloktext p, .page5_bloktext p{
    
    text-align: left;
    font-size: 18px;
    line-height: 35px;
    color: #5e5e5e;
    font-weight: 300;
}

.kust{
    position: absolute;
    left: 0;
    width: 10%;
    bottom: 200px;
}

.fon_item{
    position: absolute;
    right: 0;
    max-width: 180px;
    top: -80px;
}

.page4{
    position: relative;
    display: flex;
    justify-content: left;
    margin-bottom: 200px;
    position: relative;
    text-align: left;
}


.page4_foto{
 margin-right: 140px;
}


.page4_text{
 text-align: left;
 margin-left: 200px;
 max-width: 30%;
 margin-top: 70px;
 margin-right: 65px;
}

.page4_bloktext {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;
}

.page4 span{
    
    font-size: 20px;
    line-height: 20px;
    color: #a1a1a1;
    font-style: italic;
}

 .page4 a, .page5 a{
    font-size: 18px;
line-height: 40px;
color: #3cbef1;
font-style: italic;
text-decoration: none;
margin-left: 50px;

}

.page4 a:hover , .page5 a:hover{
color: #f66262;
transition: 0.3s ease;

}



.fon_item_kust{
    position: absolute;
    right: 0;
    width: 10%;
    bottom: -400px;
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.page4 .fon_item{
    position: absolute;
    left: 0;
    width: 10%;
    bottom: -200px;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

.page5 p { text-indent: 60px; }

.page5_text{
    margin-left: 70px;
}

.page5_foto{
    margin-top: 100px;
}

.page5_bloktext{
margin-bottom: 70px;

}

/* footer start */

.fon_footer{
    position: relative;
    width: 100%;
    background-image: url(../img/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    min-height: 700px;
    padding-top: 1px;

}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    
}

.card{
    width: 33.33%;
    background-color: #fff;
    border-radius: 18px;
    padding: 30px;
}

.container{
    padding: 30px;
}

.card1{
    box-shadow: -15px 25px 48px 10px rgb(255 106 109 / 15%);
    z-index: 1;
}

.card2{
    box-shadow: -18px 10px 68px 19px rgb(255 106 109 / 19%);
    z-index: 100;
    padding: 0;
}

.card3{
    box-shadow: -53px 25px 48px 10px rgb(255 106 109 / 15%);
    z-index: 1;
}


.card1 p, .card2 p, .card3 p{
    position: relative;
    font-size: 14px;
    line-height: 50px;
    color: #807a7a;
    text-align: left;
    margin-left: 50px;
    font-weight: 300;
    display: flex;
    align-items: center;

}

.card1 p::before, .card3 p::before{
    content: '';
    position: absolute;
    left: -50px;
    background-color: #62d0f6;
    width: 30px;
    height: 30px;
    border-radius: 50% ;
    background-image: url(../img/gal2.svg);
    background-repeat: no-repeat;
}

.card2 p::before{
    content: '';
    position: absolute;
    left: -50px;
    background-color: #ff6a6d;
    width: 30px;
    height: 30px;
    border-radius: 50% ;
    background-image: url(../img/gal2.svg);
    background-repeat: no-repeat;
}

.money{
    display: flex;
    justify-content: center;
    position: relative;
    margin-right: 15px;
    margin-top: 40px;
    color: #6c6868;
    text-align: center;
    margin-bottom: 30px;

}

.m1{
    font-size: 38px;
}

.m2{
    font-size: 110px;
    line-height: 100px;
    margin-top: 20px;

}

.m3{
    display: flex;
    font-size: 24px;
    align-items: flex-end;
    line-height: 24px;
}


.cards i{
    display: block;
    text-align: center;
    font-size: 14px;
    color: #888080;
    margin-top: 8px;
}

.btn{
    padding: 20px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 30px;
    border: none;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 50px;
    cursor: pointer;
}

.btn_card1{
    background-color: #62d0f6;
}

.btn_card1:hover, .btn_card3:hover{
    box-sizing: border-box;
    padding: 18px 23px;
    background-color: #ffffff;
    color: #62d0f6 ;
    border: #62d0f6 solid 2px ;
 
}

.btn_card2{
    background-color: #f66262;
}

.btn_card2:hover{
    box-sizing: border-box;
    padding: 18px 23px;
    background-color: #ffffff;
    color: #f66262 ;
    border: #f66262 solid 2px ;
 
}

.btn_card3{
    background-color: #62d0f6;
}




.Best_Seller{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f66262;
    padding: 30px;
    border-radius: 18px 18px 0 0 ;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.Yoga_class{
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 20px;
    font-weight: bold;

}

.kust_footer1{
    position: absolute;
    left: 0;
    width: 10%;
    top: 500px;
}

.kust_footer2{
    position: absolute;
    right: 0;
    width: 10%;
    top: 500px;
    transform: scale(-1, 1);
}

.footer{
    background-color: #b4effe;
    min-height: 300px;
    margin-top: 150px;
    border-radius: 150px 150px 0 0;
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}

.cont{
    display: flex;
    justify-content: space-between;
}


.text_cont1 h4{
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 40px;
    color: #838383;
    font-family: "Fivo Sans Modern", sans-serif;
    text-align: left; 
}


.text_cont1 p{
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 30px;
    color: #838383;
    font-family: "Fivo Sans Modern", sans-serif;
    text-align: left; 
}

.text_cont2 h4{
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 40px;
    color: #4e4e4e;
    font-family: "Fivo Sans Modern", sans-serif;
    text-align: left; 
}


.text_cont2 p{
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 40px;
    color: #4e4e4e;
    font-family: "Fivo Sans Modern", sans-serif;
    text-align: left; 
}

.copy{
    margin-top: 80px;

    display: block;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 36px;
    color: #5d5d5d;
}

